{% extends 'base.html' %}

{% block title %}Checkout {% endblock %}

{% block content %}


<div class="styled-table">
    <div class="row">
        <div class="col-md-6">
            <h3>اصناف تمت اضافتها الى الطلبية</h3>
            <a href="{% url 'ecomapp:mycart' %}">Update Cart</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>رقم</th>
                        <th>الصنف</th>
                        <th>السعر</th>
                        <th>الكمية</th>
                        <th>المجموع</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                      
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">الاجمالي</th>
                        <th>ٍSDG- {{cart.total}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>بيانات المشتري</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info">تأكيد الطلبية</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}