{% extends 'base.html' %}

{% block title %}Checkout {% endblock %}

{% block content %}


<div class="styled-table">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9  justify-content-center">
            <h3 class="text-center">Order details</h3>
            <a class="btn btn-info text-center" href="{% url 'adpdapp:mycart' %}">Click here to change the order</a>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center m-auto pb-3">ID</th>
                        <th class="text-center m-auto pb-3">Product</th>
                        <th class="text-center m-auto pb-3">Price</th>
                        <th class="text-center m-auto pb-3">Quantity</th>
                        <th class="text-center m-auto pb-3">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td class="text-center m-auto pb-3">{{forloop.counter}}</td>
                        <td class="text-center m-auto pb-3">{{cp.product.title}}</td>
                        <td class="text-center m-auto pb-3">{{cp.rate}}</td>
                        <td class="text-center m-auto pb-3">{{cp.quantity}}</td>
                        <td class="text-center m-auto pb-3">{{cp.subtotal}}</td>
                      
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-center m-auto pb-3 pt-3">Total</th>
                        <th class="text-center m-auto pb-3 pt-3">SR - {{cart.total}}</th>
                    </tr>
                </tbody>
            </table>
            <form action="" method="POST">
                
                {% csrf_token %}
                {{form.as_table}}
                <button class="btn btn-info w-100">Complete the order</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}