{% extends 'base.html' %}

{% block title %}نسيت كملة السر{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.m == "s" %}
            <h3>تم ارسال الرابط الى الايمل</h3>
            {% else %}
            <h3>ادخل الايمل </h3>
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Something went wrong, please enter your email again.</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button>الحصول على رابط التفعيل</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}