{% extends 'base.html' %}

{% block title %} My cart{% endblock %}

{% block content %}
<style>
    table {
      border-collapse: collapse;
      border: 1px solid rgb(138, 118, 118);
    } 
    
    th,td {
        min-width: 100px;
      border: 1px solid rgb(87, 74, 74);
    }
    
    table.a {
      table-layout: auto;
      width: 180px;  
    }
    
    table.b {
      table-layout: fixed;
      width: 180px;  
    }
    
    table.c {
      table-layout: auto;
      width: 100%;  
    }
    
    table.d {
      table-layout: fixed;
      width: 100%;  
    }
    </style>
<div class="container">
    <div class="row" style="direction:rtl">
        <div class="col-md-12">
            <h4 class="text-center">Order Details</h4><hr>
            <h6 class="text-center">Please specify the quantities and complete the order </h6><hr>
            <table class="a w-100">
                <thead class="thead-dark  ">
                    <thead class="thead-dark">
 
                <thead>
                    <tr>
                        <th class="text-center">Total</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center"> Product</th>    

                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                   
                        <div class="m-4">
                    <tr>
                        
                        <td class="text-center total-{{ cp.pk }}">{{cp.subtotal}}</td>
                        <td class="text-center">{{cp.rate}}</td>			
                        <td class="text-center">
                            
                            <a href="{% url 'adpdapp:managecart' cp.id %}?action=inc" class="btn btn-primary"> + </a>
                            <span class="w-25 m-3 d-inline-block  input-{{ cp.pk }}" type="number" inputmode="numeric">{{cp.quantity}}</span>
                            <a href="{% url 'adpdapp:managecart' cp.id %}?action=dcr" class="btn btn-warning"> - </a>
                          
                        </td>
                        <td class="text-center" >{{cp.product.title}}</td>

                    </tr>
                    </div>
                    </div>
                    {% endfor %}
                    <tr>
                        <th class="text-center" id="total"> {{cart.total}} - SR </th>
                        <td colspan="4" class="text-center">Total</td>
                        
                        {% if cart.cartproduct_set.all %}
                        
                        {% endif %}
                    </tr>
                    {% if cart.cartproduct_set.all %}
                  
                    <tr>
                        
                    </tr>
                    <br>
           
                    {% endif %}
                </tbody>
            </table>
            <br>
            <div class="float-right">
            <a class="btn btn-info" href="{% url 'adpdapp:checkout' %}"> Complete the order </a>  
             <a class="btn btn-warning" href="{% url 'adpdapp:emptycart' %}">Delete the order </a>
            </div>  
        </div>
    </div>
</div>


{% endblock %}





{% block js %}

    
    <script>
        $(document).ready(function(){
 
            var ajaxFn = function () {

$.ajax({url: "/cart-{{cart.pk}}/", 
            success: function(result){
                $("#total").text(result.total);
                $("#total_value_added").text(result.total_value_added);
            }});

}


            {% for p in cart.cartproduct_set.all %}
            val=0
            $(".input-{{p.pk}}").on('input', function() {



                va=$(".input-{{p.pk}}").val();
                $.ajax({url: "/CartProductUpdate-"+ va +"-{{p.pk}}/", success: function(result){
                    $(".total-{{p.pk}}").text({{p.rate}}*va);
                    timeOutId = setTimeout(ajaxFn, 10);

                }});




            });
            {% endfor %}

            $("#update").on('click', function() {

            $.ajax({url: "/cart-{{cart.pk}}/", 
                success: function(result){
                    $("#total").text(result.total);
                    $("#total_value_added").text(result.total_value_added);
                }});

        });
    });

    var timeOutId = 0;
//we define our function and STORE it in a var

    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo(0, scrollpos);
            sessionStorage.removeItem('scrollpos');
        }
    });

    window.addEventListener("beforeunload", function (e) {
        sessionStorage.setItem('scrollpos', window.scrollY);
    });

        </script>

{% endblock %}  