{% extends 'base.html' %}

{% block title %} My cart{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>طلبيتي</h4><hr>
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                    <thead class="thead-dark">
 
                <thead>
                    <tr>
                        <th>الاجمالي</th>
                        <th>السعر</th>
                        <th>الكمية</th>
                        <th> الصنف</th>    
                        <th>اضف</th>
                        <th>Sr</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                   
                        <div class="m-4">
                    <tr>
                        
                        <td class="total-{{ cp.pk }}">{{cp.subtotal}}</td>
                        <td>{{cp.rate}}</td>
                        
                        <td><input class="w-50 input-{{ cp.pk }}" type="text" value="{{cp.quantity}}"></td>
                        <td>{{cp.product.title}}</td>
                        <td>
                            
                            <a href="{% url 'ecomapp:managecart' cp.id %}?action=inc" class="btn btn-primary"> + </a>
                            <a href="{% url 'ecomapp:managecart' cp.id %}?action=dcr" class="btn btn-warning"> - </a>
                            <td>{{forloop.counter}}</td>
                        </td>
                    </tr>
                    </div>
                    </div>
                    {% endfor %}
                    <tr>
                        <th> {{cart.total}} -SDG</th>
                        <td colspan="4" class="text-right">الاجمالي</td>
                        
                        {% if cart.cartproduct_set.all %}
                        
                        {% endif %}
                    </tr>
                    {% if cart.cartproduct_set.all %}
                  
                    <tr>
                        <th><a class="btn btn-info" href="{% url 'ecomapp:checkout' %}"> اكمال الطلبية </a></th>
                       
                    </tr>
                    <br>
                    <tr> <th><a class="tabbable" href="{% url 'ecomapp:emptycart' %}">حذف الطلبية </a></th></tr>
                    <script>
                        <!--
                        function timedRefresh(timeoutPeriod) {
                            setTimeout("location.reload(true);",timeoutPeriod);
                        }
                        
                        window.onload = timedRefresh(7000);
                        
                        //   -->
                        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
                        </script>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}




{% block js %}

    
    <script>
        $(document).ready(function(){
            var totalvalue=0;
            {% for p in cart.cartproduct_set.all %}
            val=0

            $(".input-{{p.pk}}").on('input', function() {
                console.log({{p.pk}});
                va=$(".input-{{p.pk}}").val();
                $.ajax({url: "/CartProductUpdate-"+ va +"-{{p.pk}}/", success: function(result){
                    totalvalue={{p.rate}}*va;
                    $(".total-{{p.pk}}").text({{p.rate}}*va);
                 

                }});
            });
            {% endfor %}




        });
        </script>

{% endblock %}  